@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @* Vòng lặp lấy số lần lặp từ ViewData["NumTimes"] *@
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>